---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---
<header>
  <nav>
    <div class="main-row">
      <Hamburger />
      <ThemeIcon />
    </div>
    <Navigation />
  </nav>
</header>

<style>
  .main-row {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
  }
</style>